@model ML.Activity
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>REGISTRO DE ACTIVIDADES</h1>

@using (Html.BeginForm("Form", "Activity", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12" style="display: none;">
            @Html.TextBoxFor(model => model.IdActivity, new { @class = "hidden form-control", autocomplete = "off" })
        </div>

        <div class="col-md-12">
            @Html.LabelFor(model => model.Tittle, "Titulo: ")
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                @Html.TextBoxFor(model => model.Tittle, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Tittle, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12">
            @Html.LabelFor(model => model.Schedule_Inicial, "Hora de Inicio: ")
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                @Html.TextBoxFor(model => model.Schedule_Inicial, new { @class = "form-control", autocomplete = "off" ,id="txtInicio"})
                @Html.ValidationMessageFor(model => model.Schedule_Inicial, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12">
            @Html.LabelFor(model => model.Schedule_Final, "Hora de Finalizacion: ")
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                @Html.TextBoxFor(model => model.Schedule_Final, new { @class = "form-control", autocomplete = "off", id="txtFin"})
                @Html.ValidationMessageFor(model => model.Schedule_Final, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12">
            @Html.LabelFor(model => model.DuracionActivity, "Duracion: ")
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                @Html.TextBoxFor(model => model.DuracionActivity, new { @class = "form-control", autocomplete = "off", id="DurActivity",onchange="DuracionMaxima();" })
                @Html.ValidationMessageFor(model => model.DuracionActivity, null, new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-md-12">
            @Html.LabelFor(model => model.Created_at, "Fecha de Creacion: ")
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                @Html.TextBoxFor(model => model.Created_at, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Created_at, null, new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-md-12">
            @Html.LabelFor(model => model.Update_at, "Fecha de Actualizacion: ")
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                @Html.TextBoxFor(model => model.Update_at, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Update_at, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12">
            @Html.LabelFor(model => model.Status, "Status: ")
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                @Html.TextBoxFor(model => model.Status, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Status, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="glyphicon-up">
            <div class="form-group">
                <div class="col-md-3">
                    <br />
                    <br />
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Regresar", "GetAll", "Activity", htmlAttributes: new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/JavaScriptActivity.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#txtInicio').datetimepicker({
                format: 'd/m/Y H:i'
            });
            $('#txtFin').datetimepicker({
                format: 'd/m/Y H:i'
            });
        });
    </script>
    }